.logo {
  position: relative;
  font-size: 10px;
  width: 15em;
  height: 15em;
  margin: 1em;

  .circle {
    position: absolute;
    width: 100%;
    height: 100%;

    border: 1em solid white;
    border-radius: 50%;
  }

  [class^=line-] {
    position: absolute;
    width: 1em;
    border-radius: .5em;
    background-color: white;
  }

  .line-left {
    box-sizing: content-box;
    border: .5em solid $color-primary;
    border-radius: 1.5em;
    transform: rotate(25deg);
    height: 16em;
    left: 4em;
    top: -2em;
    z-index: 1;
  }

  .line-middle {
    left: 7em;
    top: 2em;
    height: 13em;
  }

  .line-right {
    transform: rotate(25deg);
    height: 13em;
    left: 10em;
    top: 2.4em;
  }
}
